/* Importação da fonte */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Uso da fonte */
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  background-color: #1d7787;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

h1 {
  font-size: 32px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: #241803;

}

nav a:hover {
  background-color: #2c3e505d;
  font-weight: bold;
}

section {
  padding: 0 0;
  background-color: #f9f9f9;
}


.container {
  width: 100vw;
  height: 50vh;
  background-color: #63c3ff6d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.capitais {
  background-color: white;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.capitais>div {
  display: flex;
  align-content: center;
  width: calc(100vw/4);
  border-radius: 20px;
  box-shadow: 5px 5px 15px #888888;
  margin: 10px;
}

.capitais>div>img {
  border-radius: 20px 0 0 20px;
}

.capitais>div>p {
  display: flex;
  margin: auto;
}

.capitais div div:last-child {
  width: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.texto {
  font-size: 3em;
  color:black;
}

.img-banner {
  width: 100%;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 20px;
  font-size: x-large;
}

.position-relative {
  position: relative;
}

.container1 {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-area: container1;
  height: 250px;
}


.container1 circle {
  position: absolute;
}

.container .circle:nth-child(1) {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.container1 .circle:nth-child(2) {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  margin-top: 1rem;
  margin-left: 1rem;
}

.container1 .circle:nth-child(3) {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  margin-top: 2rem;
  margin-left: 2rem;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid rgb(3, 156, 202);
  box-shadow: 2px 2px 5px rgb(199, 7, 7);

  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
}

.container1 .circle:hover {
  visibility: hidden;
}

.hidden-content {
  position: relative;
}

.hidden-content p {
  background-color: #63c3ff6d;
  color: rgb(0, 255, 238) rgb(216, 126, 22);
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.hidden-content:hover {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  gap: 10px;
  height: 100vh;
}

.item1 { grid-area: header; background-color: #21c5ee; }
.item2 { grid-area: nav; background-image: url('learn.jpeg'); background-size: 100%; }
.item3 { grid-area: main; background-color: #2c3e505d; }
.item4 { grid-area: aside; background-image: url('learn1.jpeg'); background-size: 100%; }
.item5 { grid-area: footer; background-color: rgb(215, 155, 23);  }

.item1 h1, .item3 h1 {
  margin: 0;
}

.item1 p {
  margin: 0;
  font-size: 24px;
}

.item3 p {
  margin: 0;
  font-size: 32px;
}